@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Георги Минков, 71600, трети курс ASP.NET MVC</h1>
    <p class="lead">В текушия хост ще намерите проекта свързан с курса ASP програмиране спрямо изискванияте предоставени по време на лекции</p>
    <ul>
        <li>Зареждане - изтегляне на XML от файловата система и последователна обработка: валидация и запазване в базата от данни</li>
        <li>Форма - форма по модела на html в която да се въведат данните, които да се валидират, преобразуват в XML и запазят в базата от данни</li>
    </ul>
</div>
